<!DOCTYPE html>
<html lang="en">

<head>
  <title>Homepage - TailwindCSS Ecommerce Template</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="referrer" content="always" />
  <meta name="description" content="TailwindCSS Ecommerce Template" />
  <link rel="stylesheet" href="../dist/main.css" />
  <link href="https://unpkg.com/css.gg/icons/all.css" rel="stylesheet" />
  <script src="//unpkg.com/alpinejs" defer></script>
  <script src="../public/js/main.js" defer></script>
  <script src="/public/js/index.js" defer></script>
  <!-- views/index.ejs -->
  <script>
    document.getElementById('search-input').addEventListener('input', function () {
      const query = this.value;
      if (query.length > 0) {
        fetch(`/search/suggestions?query=${query}`)
          .then(response => response.json())
          .then(data => {
            const suggestionsContainer = document.getElementById('suggestions');
            suggestionsContainer.innerHTML = '';
            if (data.products.length > 0) {
              data.products.forEach(product => {
                const suggestionItem = document.createElement('div');
                suggestionItem.classList.add('p-2', 'hover:bg-gray-200', 'cursor-pointer');
                suggestionItem.innerHTML = `
                              <div class="flex items-center">
                                  <img src="${product.imageurl}" alt="${product.name}" class="h-10 w-10 object-cover mr-2">
                                  <div>
                                      <p class="text-sm font-medium">${product.name}</p>
                                      <p class="text-xs text-gray-500">${product.price}</p>
                                  </div>
                              </div>
                          `;
                suggestionItem.addEventListener('click', () => {
                  window.location.href = `/product/${product.id}`;
                });
                suggestionsContainer.appendChild(suggestionItem);
              });
              suggestionsContainer.classList.remove('hidden');
            } else {
              suggestionsContainer.classList.add('hidden');
            }
          });
      } else {
        document.getElementById('suggestions').classList.add('hidden');
      }
    });
  </script>
  <link id="favicon" rel="icon" type="image/png" href="/images/shop_icon.ico">
</head>

<body>
  <div x-data="{ cartOpen: false , isOpen: false }">
    <!-- #region Header -->
    <header>
      <%- include('layouts/mainLayout', { content: locals.body }) %>
    </header>
    <!-- #endregion Header -->
     
    <!-- #region Cart -->
    <div :class="cartOpen ? 'translate-x-0 ease-out' : 'translate-x-full ease-in'"
      class="fixed right-0 top-0 max-w-xs w-full h-full px-6 py-4 transition duration-300 transform overflow-y-auto bg-white border-l-2 border-gray-300 hidden"
      x-init="() => { $el.classList.remove('hidden'); }">
      <div class="flex items-center justify-between">
        <h3 class="text-2xl font-medium text-gray-700">Your cart</h3>
        <button @click="cartOpen = !cartOpen" class="text-gray-600 focus:outline-none">
          <i class="gg-close"></i>
        </button>
      </div>
      <hr class="my-3" />
      <div class="flex justify-between mt-6">
        <div class="flex">
          <img class="h-20 w-20 object-cover" src="images/tshirt-front-white-small.png" alt="" />
          <div class="mx-3">
            <h3 class="text-sm text-gray-600">T-Shirt</h3>
            <div class="flex items-center mt-2">
              <button class="text-gray-500 focus:outline-none focus:text-gray-600">
                <i class="gg-remove"></i>
              </button>
              <span class="text-gray-700 mx-2">2</span>
              <button class="text-gray-500 focus:outline-none focus:text-gray-600">
                <i class="gg-add"></i>
              </button>
            </div>
          </div>
        </div>
        <span class="text-gray-600">$24.99</span>
      </div>
      <a
        class="flex cursor-pointer items-center justify-center mt-4 px-3 py-2 bg-green-700 text-white text-sm uppercase font-medium hover:bg-green-500 focus:outline-none focus:bg-green-500">
        <span>Checkout</span>
        <i class="px-2 gg-arrow-right"></i>
      </a>
    </div>
    <!-- #endregion Cart -->
    <main class="my-8">
      <!-- #region Body -->
      <div class="container grid grid-cols-4 gap-6 pt-4 pb-16 items-start mx-auto">
        
       

        <!-- Slider -->
        <!-- <div class="absolute inset-0 col-span-4 flex items-center justify-between w-full">
          <button id="prev" class="bg-gray-800 text-white p-2 rounded-full">
              <span class="sr-only">Previous</span>
              <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
              </svg>
          </button>
          <button id="next" class="bg-gray-800 text-white p-2 rounded-full">
              <span class="sr-only">Next</span>
              <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
              </svg>
          </button>
      </div>
      <div class="col-span-4 flex transition-transform duration-500 ease-in-out w-full overflow-hidden" id="carousel-inner">
          <div class="min-w-full">
              <img src="/images/slider-1.png" class="w-full h-auto">
          </div>
          <div class="min-w-full">
              <img src="/images/slider-2.png" class="w-full h-auto">
          </div>
          <div class="min-w-full">
              <img src="/images/slider-3.png" class="w-full h-auto">
          </div>
      </div> -->
        <!-- Slider -->

         <!-- #region Sidebar -->
         <div class="col-span-1 bg-white px-4 pb-6 shadow overflow-hidden rounded-lg">
          <div class="divide-y divide-gray-200 space-y-5">
            <!--region category checkbox-->
            <div>
              <h3 class="text-xl text-gray-800 mb-3 uppercase font-medium mt-3">
                Categories
              </h3>
              <div class="space-y-2">
                <div class="flex items-center">
                  <input onchange="window.location.href='/mobilephones'" type="checkbox" name="cat-2" id="cat-2"
                    class="text-primary focus:ring-0 cursor-pointer" />
                  <label for="cat-2" class="text-gray-600 ml-3 cusror-pointer">Mobilephones</label>
                  <div class="ml-auto text-gray-600 text-sm">(10)</div>
                </div>
                <div class="flex items-center">
                  <input onchange="window.location.href='/computers'" type="checkbox" name="cat-3" id="cat-3"
                    class="text-primary focus:ring-0 cursor-pointer" />
                  <label for="cat-3" class="text-gray-600 ml-3 cusror-pointer">Computers</label>
                  <div class="ml-auto text-gray-600 text-sm">(9)</div>
                </div>
                <div class="flex items-center">
                  <input onchange="window.location.href='/televisions'" type="checkbox" name="cat-4" id="cat-4"
                    class="text-primary focus:ring-0 cursor-pointer" />
                  <label for="cat-4" class="text-gray-600 ml-3 cusror-pointer">Televisions</label>
                  <div class="ml-auto text-gray-600 text-sm">(8)</div>
                </div>
              </div>
            </div>
            <!--region Brand-->
            <div>
              <h3 class="text-xl text-gray-800 mb-3 uppercase font-medium mt-3">Brands</h3>
                <div class="space-y-2">
                  <% if (categories && categories.length> 0) { %>
                    <% categories.forEach(category=> { %>
                      <div class="flex items-center">
                        <input type="checkbox" name="brands" value="<%= category.name %>" id="<%= category.id %>"
                          class="text-primary focus:ring-0 cursor-pointer" <% if (selectedBrands &&
                          selectedBrands.includes(category.name)) { %>
                        checked
                        <% } %>
                          onchange="document.getElementById('brand-filter-form').submit()"
                          />
                          <label for="<%= category.id %>" class="text-gray-600 ml-3 cursor-pointer">
                            <%= category.name %>
                          </label>
                          <div class="ml-auto text-gray-600 text-sm">(<%= category.count %>)</div>
                      </div>
                      <% }); %>
                        <% } else { %>
                          <p class="text-gray-500">No categories available for this section.</p>
                          <% } %>
                </div>
            </div>


            <form id="price-filter-form" method="GET" action="/mobilephones">
              <div class="pt-4">
                <h3 class="text-xl text-gray-800 mb-3 uppercase font-medium">
                  Price
                </h3>
                <div class="mt-4 flex items-center">
                  <input type="text" name="min" id="min"
                    class="rounded-md w-full border-gray-600 focus:border-primary focus:ring-0 px-3 py-1 text-gray-600 shadow-md"
                    placeholder="min" value="<%= min %>" />
                  <span class="mx-3 text-gray-500">-</span>
                  <input type="text" name="max" id="max"
                    class="rounded-md w-full border-gray-600 focus:border-primary focus:ring-0 px-3 py-1 text-gray-600 shadow-md"
                    placeholder="max" value="<%= max %>" />
                </div>
                <button type="submit" class="mt-4 bg-primary text-white px-4 py-2 rounded-md">
                  Filter
                </button>
              </div>
            </form>

            <div class="pt-4">
              <h3 class="text-xl text-gray-800 mb-3 uppercase font-medium">
                size
              </h3>
              <div class="flex items-center gap-2">
                <div class="size-selector">
                  <input type="radio" name="size" id="size-xs" class="hidden" />
                  <label for="size-xs"
                    class="rounded-md text-xs border border-gray-200 h-6 w-6 flex items-center justify-center cursor-pointer shadow-sm text-gray-600">XS</label>
                </div>
                <div class="size-selector">
                  <input type="radio" name="size" id="size-sm" class="hidden" />
                  <label for="size-sm"
                    class="rounded-md text-xs border border-gray-200 h-6 w-6 flex items-center justify-center cursor-pointer shadow-sm text-gray-600">S</label>
                </div>
                <div class="size-selector">
                  <input type="radio" name="size" id="size-m" class="hidden" />
                  <label for="size-m"
                    class="rounded-md text-xs border border-gray-200 h-6 w-6 flex items-center justify-center cursor-pointer shadow-sm text-gray-600">M</label>
                </div>
                <div class="size-selector">
                  <input type="radio" name="size" id="size-l" class="hidden" />
                  <label for="size-l"
                    class="rounded-md text-xs border border-gray-200 h-6 w-6 flex items-center justify-center cursor-pointer shadow-sm text-gray-600">L</label>
                </div>
                <div class="size-selector">
                  <input type="radio" name="size" id="size-xl" class="hidden" />
                  <label for="size-xl"
                    class="rounded-md text-xs border border-gray-200 h-6 w-6 flex items-center justify-center cursor-pointer shadow-sm text-gray-600">XL</label>
                </div>
              </div>
            </div>

            <div class="pt-4">
              <h3 class="text-xl text-gray-800 mb-3 uppercase font-medium">
                Color
              </h3>
              <div class="flex items-center gap-2">
                <div class="color-selector">
                  <input type="radio" name="color" id="black" class="hidden" />
                  <label for="black" class="border border-gray-200 h-6 w-6 cursor-pointer shadow-sm block"
                    style="background-color: #000"></label>
                </div>
                <div class="color-selector">
                  <input type="radio" name="color" id="white" class="hidden" />
                  <label for="white" class="border border-gray-200 h-6 w-6 cursor-pointer shadow-sm block"
                    style="background-color: #fff"></label>
                </div>
                <div class="color-selector">
                  <input type="radio" name="color" id="gray" class="hidden" />
                  <label for="gray" class="border border-gray-200 h-6 w-6 cursor-pointer shadow-sm block"
                    style="background-color: #a4a9ad"></label>
                </div>
                <div class="color-selector">
                  <input type="radio" name="color" id="blue" class="hidden" />
                  <label for="blue" class="border border-gray-200 h-6 w-6 cursor-pointer shadow-sm block"
                    style="background-color: #0033cc"></label>
                </div>
                <div class="color-selector">
                  <input type="radio" name="color" id="navy" class="hidden" />
                  <label for="navy" class="border border-gray-200 h-6 w-6 cursor-pointer shadow-sm block"
                    style="background-color: #091740"></label>
                </div>
                <div class="color-selector">
                  <input type="radio" name="color" id="red" class="hidden" />
                  <label for="red" class="border border-gray-200 h-6 w-6 cursor-pointer shadow-sm block"
                    style="background-color: #990000"></label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- #endregion Sidebar -->

        <!-- #region Products -->
        <div class="col-span-3">
          <div class="grid grid-cols-1 gap-6 m-3 md:grid-cols-2 lg:grid-cols-3">
            <% products.mobilephones.forEach(product => { %>
              <div class="bg-white shadow-md overflow-hidden grid grid-flow-row grid-rows-2 place-items-stretch">
                <div class="row-span-2">
                  <div class="relative group h-full">
                    <img src="<%= product.imageurl %>" alt="<%= product.name %>" class="w-full h-auto" />
                    <a href="/mobilephones/<%= product.id %>">
                    <div
                      class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 transition">
                    </div>
                    </a>
                  </div>
                </div>
                <div class="row-span-1">
                  <div class="pt-4 pb-3 px-4">
                    <a href="/mobilephones/<%= product.id %>">
                      <h4 class="uppercase font-medium text-xl lg:text-2xl mb-2 text-gray-800 hover:text-primary transition text-wrap">
                        <%= product.name %>
                      </h4>
                    </a>
                    <div class="flex items-baseline mb-1 space-x-2 row-span-1">
                      <p class="text-xl text-primary font-semibold">
                        $<%= product.price %>
                      </p>
                      <% if (product.discount > 0) {%>
                        <p class="text-sm text-red-600 font-extrabold">-<%= product.discount %>%</p>
                      <% } %>
                    </div>
                  </div>
                </div>
              <a href="#"
                class="block w-full py-3 text-center text-white bg-green-700 border border-primary hover:bg-green-500 transition row-span-1">Add
                to cart
              </a>
            </div>
              <% }) %>

              <% products.computers.forEach(product => { %>
                <div class="bg-white shadow-md overflow-hidden grid grid-flow-row grid-rows-2 place-items-stretch">
                    <div class="row-span-2">
                      <div class="relative group h-full">
                        <img src="<%= product.imageurl %>" alt="<%= product.name %>" class="w-full h-auto" />
                        <a href="/computers/<%= product.id %>">
                        <div
                          class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 transition">
                        </div>
                        </a>
                      </div>
                    </div>
                    <div class="row-span-1">
                      <div class="pt-4 pb-3 px-4">
                        <a href="/computers/<%= product.id %>">
                          <h4 class="uppercase font-medium text-xl mb-2 text-gray-800 hover:text-primary transition text-wrap">
                            <%= product.name %>
                          </h4>
                        </a>
                        <div class="flex items-baseline mb-1 space-x-2 row-span-1">
                          <p class="text-xl text-primary font-semibold">
                            $<%= product.price %>
                          </p>
                          <% if (product.discount > 0) {%>
                            <p class="text-sm text-red-600 font-extrabold">-<%= product.discount %>%</p>
                          <% } %>
                        </div>
                      </div>
                    </div>
                  <a href="#"
                    class="block w-full py-3 text-center text-white bg-green-700 border border-primary hover:bg-green-500 transition row-span-1">Add
                    to cart
                  </a>
                </div>
                <% }) %>

                <% products.televisions.forEach(product => { %>
                  <div class="bg-white shadow-md overflow-hidden grid grid-flow-row grid-rows-2 place-items-stretch">
                    <div class="row-span-2">
                      <div class="relative group h-full">
                        <img src="<%= product.imageurl %>" alt="<%= product.name %>" class="w-full" />
                        <a href="/televisions/<%= product.id %>">
                        <div
                          class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 transition">
                        </div>
                        </a>
                      </div>
                    </div>
                    <div class="row-span-1">
                      <div class="pt-4 pb-3 px-4">
                        <a href="/televisions/<%= product.id %>">
                          <h4 class="uppercase font-medium text-xl mb-2 text-gray-800 hover:text-primary transition text-wrap">
                            <%= product.name %>
                          </h4>
                        </a>
                        <div class="flex items-baseline mb-1 space-x-2 row-span-1">
                          <p class="text-xl text-primary font-semibold">
                            $<%= product.price %>
                          </p>
                          <% if (product.discount > 0) {%>
                            <p class="text-sm text-red-600 font-extrabold">-<%= product.discount %>%</p>
                          <% } %>
                        </div>
                      </div>
                    </div>
                  <a href="#"
                    class="block w-full py-3 text-center text-white bg-green-700 border border-primary hover:bg-green-500 transition row-span-1">Add
                    to cart
                  </a>
                </div>
                  <% }) %>
          </div>
        </div>
        <!-- #endregion Products -->
      </div>
    </main>
    <footer class="bg-slate-200">
      <div class="bg-slate-900 text-white">
        <div class="py-16 sm:py-20 md:py-24 container mx-auto px-6">
          <div class="mx-auto flex flex-col items-center justify-between lg:flex-row">
            <div class="text-center lg:text-left w-full">
              <h4 class="pb-8 text-xl font-bold">Contact</h4>
              <ul>
                <li class="block pb-2">
                  <a href="mailto:test.email0123@elyssi.com"
                    class="text-base transition-colors hover:text-primary">support@superstore.com</a>
                </li>
                <li class="block pb-2">
                  <a href="tel:5555555555" class="text-base transition-colors hover:text-primary">(555) 555-5555</a>
                </li>
              </ul>
            </div>
            <div class="py-16 text-center lg:py-0 w-full">
              <a href="index.html" class="font-mono text-4xl uppercase tracking-widest">superstore</a>
              <div class="flex items-center justify-center pt-5">
                <a href="#">
                  <div class="mr-5 flex items-center bg-white px-2 py-2 group-hover:bg-blue-200">
                    <i class="gg-facebook text-gray-900"></i>
                  </div>
                </a>
                <a href="#">
                  <div class="mr-5 flex items-center bg-white px-2 py-2 group-hover:bg-blue-200">
                    <i class="gg-twitter text-gray-900"></i>
                  </div>
                </a>
                <a href="#">
                  <div class="mr-5 flex items-center bg-white px-2 py-2 group-hover:bg-blue-200">
                    <i class="gg-instagram text-gray-900"></i>
                  </div>
                </a>
                <a href="#">
                  <div class="flex items-center bg-white px-2 py-2 group-hover:bg-blue-200">
                    <i class="gg-slack text-gray-900"></i>
                  </div>
                </a>
              </div>
            </div>
            <div class="text-center lg:text-right w-full">
              <h4 class="pb-8 text-xl font-bold">Links</h4>
              <ul>
                <li class="block pb-2">
                  <a href="index.html" class="text-base transition-colors hover:text-primary">Home</a>
                </li>
                <li class="block pb-2">
                  <a href="category.html" class="text-base transition-colors hover:text-primary">Category</a>
                </li>
                <li class="block pb-2">
                  <a href="product.html" class="text-base transition-colors hover:text-primary">Product</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="py-2">
        <p class="text-center text-base text-secondary">
          <a href="https://github.com/jluterek/tailwind-ecommerce-template">Source Code - GitHub</a>
        </p>
      </div>
    </footer>
  </div>
</body>

</html>